<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.milankragujevic.tubeplus" version="1.0.0">
	<name>TubePlus</name>
	<preference name="phonegap-version" value="cli-6.5.0" />
	<description>
		TubePlus client for YouTube for Windows Phone 8.1.
	</description>
	<author href="https://milankragujevic.com" email="milankragujevic@gmail.com">
		Milan Kragujevic
	</author>
	<content src="index.html" />
	<preference name="DisallowOverscroll" value="true" />
	<icon src="www/assets/ApplicationIcon.png" width="99" height="99" />
	<icon src="www/assets/Background.png" width="159" height="159" />
	<splash src="www/assets/screen-portrait.jpg" width="720" height="1280" />
	<preference name="windows-phone-target-version" value="8.1" />
	<preference name="windows-appx-target" value="8.1-phone" />
	<preference name="windows-arch" value="anycpu" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
</widget>
